In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [5]:
df=pd.read_csv('consumer_reviews.csv')
df.head(5)

,sub-categories,primary-categories,rating,reviews,title
0,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,3,I order 3 of them and one of the item is bad q...,... 3 of them and one of the item is bad quali...
1,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,4,Bulk is always the less expensive way to go fo...,... always the less expensive way to go for pr...
2,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,5,Well they are not Duracell but for the price i...,... are not Duracell but for the price i am ha...
3,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,5,Seem to work as well as name brand batteries a...,... as well as name brand batteries at a much ...
4,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,5,These batteries are very long lasting the pric...,... batteries are very long lasting the price ...

In [4]:
df.shape

(28332, 5)

In [6]:
from gensim.parsing import preprocessing,remove_stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [7]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/atharvas/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/atharvas/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [8]:
from nltk.corpus import stopwords
set(stopwords.words('english'))

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [9]:
x=df.iloc[:,[0,1,3,4]]
x.head(5)

,sub-categories,primary-categories,reviews,title
0,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,I order 3 of them and one of the item is bad q...,... 3 of them and one of the item is bad quali...
1,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,Bulk is always the less expensive way to go fo...,... always the less expensive way to go for pr...
2,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,Well they are not Duracell but for the price i...,... are not Duracell but for the price i am ha...
3,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,Seem to work as well as name brand batteries a...,... as well as name brand batteries at a much ...
4,"AA,AAA,Health,Electronics,Health & Household,C...",Health & Beauty,These batteries are very long lasting the pric...,... batteries are very long lasting the price ...

In [10]:
y=df.iloc[:,[2]]
y.head(5)

   rating
0       3
1       4
2       5
3       5
4       5

In [11]:
stop = stopwords.words('english')

z=pd.DataFrame(columns=['sub-categories1','primary-categories1',  'reviews1','title1'])
z['sub-categories1']=x['sub-categories'].apply(lambda x: ''.join([item for item in x if item not in stop]))
z['primary-categories1']=x['primary-categories'].apply(lambda x: ''.join([item for item in x if item not in stop]))
z['reviews1']=x['reviews'].apply(lambda x: ''.join([item for item in x if item not in stop]))
z['title1']=x['title'].apply(lambda x: ''.join([item for item in x if item not in stop]))
z.head(5)

,sub-categories1,primary-categories1,reviews1,title1
0,"AA,AAA,Helh,Elecrnc,Helh & Huehl,Ccrer Bere,Ce...",Helh & Beu,I rer 3 f he n ne f he e b qul. I ng bckup pr...,... 3 f he n ne f he e b qul. I ng bckup prng...
1,"AA,AAA,Helh,Elecrnc,Helh & Huehl,Ccrer Bere,Ce...",Helh & Beu,Bulk lw he le expenve w g fr pruc lke hee,... lw he le expenve w g fr pruc lke
2,"AA,AAA,Helh,Elecrnc,Helh & Huehl,Ccrer Bere,Ce...",Helh & Beu,Well he re n Durcell bu fr he prce hpp.,... re n Durcell bu fr he prce hpp.
3,"AA,AAA,Helh,Elecrnc,Helh & Huehl,Ccrer Bere,Ce...",Helh & Beu,See wrk well ne brn bere uch beer prce,... well ne brn bere uch beer
4,"AA,AAA,Helh,Elecrnc,Helh & Huehl,Ccrer Bere,Ce...",Helh & Beu,Thee bere re ver lng lng he prce gre.,... bere re ver lng lng he prce gre.

In [11]:

wk=word_tokenize(x.iloc[[1],[0]].values[0][0])
stop.append('i')

In [14]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [15]:
import re
crps=[]

In [16]:
for j in range(0,28332):
    review=re.sub('[^a-zA-Z]',' ',x.iloc[:,2].values[j])
    review=review.lower()
    review=review.split()

    news=[]

    news=[ps.stem(r) for r in review if not r in stop or r=='not']
    review=' '.join(str(a) for a in news)
    crps.append(review)

In [17]:

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1500)
x = cv.fit_transform(crps).toarray()
y=df.iloc[:,1].values

'''Train test split'''

'Train test split'

In [18]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x, y, test_size = 0.30, random_state = 0)

In [19]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(xtrain, ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [20]:

# Predicting the Test set results
ypred = classifier.predict(xtest)

In [21]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, ypred)
cm

array([[   0,    0,    1,    0,    0,    0,    0,    0],
       [   2, 1002,  779,   55,    3,    3,  976, 1378],
       [   0,   11,   43,    1,    0,    0,    2,    2],
       [ 118,   41, 1291, 1235,   51,  102,  262,  508],
       [   0,    0,    0,    0,    0,    0,    0,    0],
       [   0,    1,    0,    0,    0,    0,    1,    0],
       [   0,   45,   33,    0,    0,    0,   22,   16],
       [   0,   80,   53,    4,    0,    0,  112,  267]])

In [22]:
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [23]:
print ('Accuracy Score :',accuracy_score(ytest, ypred))

Accuracy Score : 0.30223529411764705

In [26]:
print ('Report :',  classification_report(ytest, ypred))

Report :                              precision    recall  f1-score   support

     Animals & Pet Supplies       0.00      0.00      0.00         1
                Electronics       0.85      0.24      0.37      4198
          Electronics,Media       0.02      0.73      0.04        59
            Health & Beauty       0.95      0.34      0.50      3608
              Home & Garden       0.00      0.00      0.00         0
            Office Supplies       0.00      0.00      0.00         2
Office Supplies,Electronics       0.02      0.19      0.03       116
   Toys & Games,Electronics       0.12      0.52      0.20       516

                  micro avg       0.30      0.30      0.30      8500
                  macro avg       0.25      0.25      0.14      8500
               weighted avg       0.83      0.30      0.41      8500

/home/atharvas/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)